.popup-background {
  /* z-index: 1000; */
  /* background-color: rgba(0, 0, 0, 0.395); Transparent gray background */
  /* width: 100%; */
  /* height: 100%; */
  /* position: fixed; */
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.comment-popup {
  /* margin: 10% 20%; */
  background-color: white;
  border-radius: 16px;
}

.comment-popup button.close {
  position: absolute;
  top: 40px;
  right: 40px;
  background: none;
  border: none;
  font-size: 68px;
  color: #ffffff;
  cursor: pointer;
}

.comment-popup button.close:hover {
  color: rgb(255, 78, 78);
}

.comment-section {
  padding: 0 20px 15px 20px;
  margin-top: auto;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comments-list {
  max-height: 400px;
  overflow-y: auto;
}

.comment {
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #bebebe54;
}

.comment img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
}

.comment .content {
  display: flex;
  flex-direction: column;
}

.comment .content p {
  margin: 0;
}

.comment .content .name {
  font-weight: bold;
  margin-bottom: 4px;
}

.comment .content .timestamp {
  color: gray;
  font-size: 12px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e6ecf0;
  border-radius: 50px;
  margin: 6px 0px;
}

.footer input {
  border: none;
  padding: 8px 18px;
  border-radius: 50px;
  outline: none;
  flex-grow: 1;
  font-size: 18px;
  width: 100%;
}

.footer button {
  background-color: #2f95dc;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 16px 45px;
  font-size: 16px;
}

.footer button:hover {
  background-color: #217ac0;
}

@media (max-width: 580px) {
  .comment-header {
    padding: 0 10px;
  }
  .comment-section {
    padding: 0;
  }
}

@media (max-width: 580px) {
  .footer button {
    padding: 16px 20px;
    font-size: 14px;
  }
}
